<div class="row">
        <div class="col-md-12">
                <h4 class="remove-margin">Add New Role Detail </h4>
                <div class="card">
                  <div class="card-header">
                    <!-- <h5 class="card-title">Edit Profile</h5> -->
                  </div>
                  <div class="card-body">
                    <form>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                            <label>Role Name</label>
                            <input type="text" class="form-control" placeholder="Role Name">
                            </div>
                        </div>                       
                    </div>
                      <div class="row">
                        <div class="update ml-auto mr-auto">
                          <button type="submit" class="btn btn-primary btn-round">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
</div>