<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Angualr 8* and Laravel 6* User Manage Application</h4>
            <a href="https://github.com/Mahanteshkumbar/Angular-8-Laravel-6-user-Login" target="_blank">Fork Me On Github</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
